.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 240px);
  section {
    display: flex;
    max-width: 720px;
  }
  img {
    width: 192px;
    height: 192px;
    border-radius: 100%;
    margin: 16;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23)
  }
  article {
    padding: 4px 16px;
  }
  p {
    padding: 8px 0;
  }
  .btn {
    margin-right: 8px;
    padding: 12px 24px;
  }
  svg {
    padding: 8px;
    box-sizing: content-box;
  }
}
@media screen and (max-width: 440px) {
  .ag-about {
    section {
      align-items: center;
      flex-direction: column;
    }
  }
}
