.input {
    border-bottom: solid 1px rgba(255,255,255,0.75);
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 8px;
        width: 1px;
        background: rgba(255,255,255,0.75);
    }
    &:after {
        clear: both;
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 8px;
        width: 1px;
        background: rgba(255,255,255,0.75);
    }

    input {
        color: #fff;
        padding: 8px 12px;
        transition: padding 0.3s;
        font-weight: 300;
        &:focus {
            padding: 16px 24px;
            & + label {
                transform: translate(-125%, -8px);
                opacity: 0.5;
            }
        }
        & + label {
            user-select: none;
            opacity: 0.5;
            z-index: -2;
            position: absolute;
            transform: translate(0px, 0px);
            left: 10%;
            top: 50%;
            transition: transform 0.3s, opacity 0.3s;
        }
        &[value=""] + label {
          opacity: 0.5;
        }
    }
}
