/**
 * Base Styles
 */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'futura-pt', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: -2;
}
body {
    background: url("/assets/brand/cover.jpg"), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
input {
    border: 0 none;
    background: rgba(0, 0, 0, 0);
    color: #fff;
}
a {
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    &:link, &:visited {
        color: #fff;
    }
    &:hover {
        color: #ddd;
    }
    &:active {
        color: #ccc;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-size: 3em;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1.12em;
}
h6 {
    font-size: 1.05em;
}
img {
    max-width: 100%;
}
p {
    line-height: 1.5em;
}
:global {
    /**
 * Brand
 */
    .ag-loading {
        width: 160px;
        margin: 0 auto;
        display: block;
        path {
            fill: none;
            stroke: #fff;
            stroke-width: 22;
            stroke-miterlimit: 10;
            animation: ag-loading-ani 1.75s linear infinite;
            stroke-dasharray: 200.1357879638672;
            stroke-dashoffset: 200.1357879638672;
        }
    }
    @keyframes ag-loading-ani {
        from {}
        to {
            stroke-dashoffset: -200.1357879638672;
        }
    }
    /**
 * Misc
 */
    .btn {
        padding: 8px 16px;
        display: inline-block;
        border-radius: 8px;
        background-color: #2096A1;
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.29));
        background-repeat: no-repeat;
        box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.5) inset;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: box-shadow 0.3s, background-position 0.3s;
    }
    .btn:hover {
        background-position: 0 1.5em;
    }
    .btn:active {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5) inset;
    }
    .full {
        width: 100%;
        height: 100%;
    }
    .wf-loading {
        opacity: 0;
    }
    .wf-active {
        opacity: 1;
        transition: opacity 0.3s;
    }
}
