.course {
  width: 800px;
  height: 128px;
  display: flex;
  cursor: default;
  h1, h2, h3, p {
    padding: 6px 0;
    cursor: default;
  }
  section {
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  article {
    flex-grow: 1;
    display: block;
    text-align: left;
    padding: 8px;
  }
}
